body {
    margin: 0;
    padding: 0;
}

.select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    height: 2em;
}

.option {
    padding: 0 30px 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background: rgba(255, 100, 0, 1);
    /*border-top:rgba(255, 100, 0, 1) solid 1px;*/
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background 300ms ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    border: none;
    outline: none;

}

.option:hover {
    background: rgba(185, 100, 100, 1);
}

.select:focus .option {
    position: relative;
    pointer-events: all;
}

input {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

input:checked + label {
    order: 1;
    z-index: 2;
    background: rgba(255, 100, 0, 1);
    border-top: none;
    position: relative;
}

input:checked + label:after {
    content: '';
    width: 0;
    height: 0;
    /*border-left: 5px solid transparent;*/
    /*border-right: 5px solid transparent;*/
    border: 0;
    position: absolute;
    /*right: 10px;*/
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
}

input:checked + label:before {
    position: absolute;
    right: 0;
    height: 40px;
    width: 0;
    content: '';
    background: rgba(255, 100, 0, 0);
}

.body {
    width: 100%;
    height: 100%;
    background: rgba(255, 100, 0, 1);
    transition: background 300ms cubic-bezier(.42, 0, .58, 1);
}

#full_time_hour {
    display: inline-block;
}

#full_time_minute {
    display: inline-block;
}

#full_time_second {
    display: inline-block;
}

#full_time {
    flex-basis: 440px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    color: rgba(255, 255, 255, 1);
}

#time {
    flex-basis: 440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    color: rgba(255, 255, 255, 1);
}

#start {
    justify-content: center;
    display: flex;
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
    font-size: 2em;
}

.uuid {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 5rem;
}